.error-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.error-header {
  justify-content: center;
  align-items: center;
}

.error-card {
  max-width: 400px;
  text-align: center;
}

.error-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.error-icon {
  height: 100px !important;
  width: 100px !important;
  font-size: 100px !important;
  margin: 3px !important;
}

p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #666;
  text-align: left !important;
}
