<div class="container-fluid">
  <div class="row d-flex justify-content-center m-3">
    <div *ngFor="let model of state().models" class="p-3 col-lg-4 col-md-6 col-sm-8">

      <mat-card
        class="model-card h-100"
        [class.selected]="state().selectedModels.includes(model._id)"
        (click)="selectModel(model._id)"
        matRipple>

        <mat-card-content class="card-content">
          <div class="row">
            <div class="col">
              <small class="float-start text-muted" style="font-size: 10px">
                <mat-icon matTooltip="{{ 'MODEL_SELECTOR.MODEL_DETAILS' | translate }}"
                          (click)="open(content); $event.stopPropagation()">info
                </mat-icon>
              </small>
              <div class="float-end">
                <mat-icon class="selection-icon">
                  {{ state().selectedModels.includes(model._id) ? 'check_circle' : 'radio_button_unchecked' }}
                </mat-icon>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3 class="model-title">
                {{ model.name }}
              </h3>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col text-center">
              <app-latex-paragraph [size]="'md'"
                                   [inputString]="model.latex_formula"></app-latex-paragraph>
            </div>
          </div>


        </mat-card-content>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ 'MODEL_SELECTOR.MODEL_DETAILS' | translate }}</h4>
            <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="mt-3">
            <div class="text-center">
              <app-latex-paragraph [size]="'lg'"
                                   [inputString]="model.latex_formula"></app-latex-paragraph>
            </div>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <div class="input-group">
                {{ model.description }}
              </div>
            </div>
          </div>
        </ng-template>
      </mat-card>

    </div>
  </div>
</div>


<ng-container *ngIf="loadingModels">
  <app-loading></app-loading>
</ng-container>
