<div class="row d-flex align-content-center justify-content-center" *ngIf="!loadingDataSamples && !investigation">
  <div class="col-12 col-md-8">
    <div class="card mt-3 mb-3">
      <div class="card-body ">
        <app-file-upload (onDataSampleUploaded)="setUploadDataSample($event)"></app-file-upload>
      </div>

      <ng-container *ngIf="dataSample && !investigation">
        <div class="mt-auto d-flex justify-content-center align-content-center ">
          <button class="btn fiuba-institutional m-3"
                  (click)="createInvestigation()">{{ 'DATA_SELECTOR.START_INVESTIGATION' | translate }}
          </button>
        </div>
      </ng-container>

      <div class="m-3 card">
        <div class="card-body">
          <h5 class="card-title">{{ 'DATA_SELECTOR.USE_PREVIOUS_SAMPLE' | translate }}</h5>
          <ng-container *ngIf="options.length; else noDataSamplesYet">
            <mat-form-field style="width: 100%">
              <input matInput
                     placeholder="Buscar muestra por nombre"
                     [formControl]="inputControl"
                     [matAutocomplete]="auto">

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                <mat-option *ngFor="let option of filteredOptions | async"
                            [value]="option">
                  <div class="w-100 flex-grow-1 d-flex align-items-center justify-content-between">
                    <span class="w-100 flex-grow-1">{{ option }}</span>
                    <button mat-icon-button color="warn" type="button"
                            (click)="$event.stopPropagation(); openDeleteSampleDialog(option)">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                  </div>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ng-container>

          <ng-template #noDataSamplesYet>
            <div>
              <p class="text-muted">{{ 'DATA_SELECTOR.NO_DATA_SAMPLES_YET' | translate }}</p>
            </div>
          </ng-template>
        </div>

      </div>

    </div>
  </div>
</div>


<ng-template let-data #deleteSampleDialog>
  <h2 mat-dialog-title>
    {{ 'DATA_SELECTOR.DELETE' | translate }}
  </h2>
  <mat-dialog-content class="mat-typography">
    <p>
      {{ 'DATA_SELECTOR.DELETE_CONFIRMATION' | translate:data }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-flat-button color="warn" class="text-white" [mat-dialog-close]="true"
            (click)="deleteSample(data.optionValue)">
      {{ 'CONFIRM' | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>

<app-data-visualizer [isTableVisible]="true" *ngIf="investigation?.sample ?? dataSample"
                     [data]="investigation?.sample ?? dataSample!"></app-data-visualizer>
<ng-container *ngIf="creatingInvestigation || loadingDataSamples">
  <app-loading></app-loading>
</ng-container>
