<ng-container *ngIf="loadingHistoric">
  <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="investigations?.investigations && investigations?.investigations?.length === 0">
  <div class="no-data-container">
    <mat-card class="no-data-card">
      <mat-card-content class="no-data-content">
        <h2>{{ 'NO_DATA.TITLE' | translate }}</h2>
        <p>{{ 'NO_DATA.MESSAGE' | translate }}</p>
        <div class="actions">
          <button mat-stroked-button color="accent" routerLink="/investigation">
            <mat-icon>home</mat-icon>
            {{ 'NO_DATA.CREATE' | translate }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

<div class="container-fluid p-5">
  <div class="d-flex justify-content-center">
    <div class="col-10">
      <div class="investigation-container">

        <mat-accordion *ngIf="investigations">

          <mat-expansion-panel class="mt-4 m-2 " *ngFor="let investigation of investigations.investigations">
            <mat-expansion-panel-header (click)="fetchVersions(investigation.investigation_id)">
              <mat-panel-title>
                <button mat-button color="warn" (click)="deleteInvestigation(investigation.investigation_id)">
                  {{ 'VERSIONS.DELETE_INV' | translate }}
                  <fa-icon [icon]="faTrash" class="mr-5"></fa-icon>
                </button>
                {{ 'VERSIONS.ID' | translate }} {{ investigation.investigation_id }}
                -    {{ 'VERSIONS.TITLE' | translate }} {{ investigation.sample.title }}
              </mat-panel-title>
              <mat-panel-description>
                {{ 'VERSIONS.DESCRIPTION' | translate }} {{ investigation.sample.description }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="investigation-details">
              <mat-tab-group *ngIf="investigation.versions">
                <mat-tab *ngFor="let version of investigation.versions">
                  <ng-template mat-tab-label>
                    <div class="tab-label" matRipple>
                      {{ 'VERSIONS.VERSION' | translate }} {{ version.version_id }}

                    </div>
                  </ng-template>
                  <div class="tab-content d-flex justify-content-center p-5" matRipple>
                    <div class="card col-6">
                      <div class="card-header fiuba-institutional text-center">
                        {{ 'VERSIONS.CREATION' | translate }} {{ version.created_at }}
                      </div>
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <h5
                            class="card-title mb-0 flex-grow-1 text-center">{{ 'MODEL_COMPARE.BEST_MODEL' | translate }}</h5>
                        </div>
                        <h2 class="text-center border-bottom pb-3 mb-4">
              <span
                [ngClass]="this.commonUtilsService.getBestComparisonModelOverall(version.best_model_ml, version.best_model_heuristic, this.models) ? 'badge fiuba-institutional-bg text-white' : 'badge bg-warning'">
{{ this.commonUtilsService.getBestComparisonModelOverall(version.best_model_ml, version.best_model_heuristic, this.models) ?? ('UNDEFINED' | translate) }}
              </span>
                        </h2>

                        <div *ngFor="let model of version.fitted_models"
                             class="mb-4 border-bottom pb-3">
                          <div class="row">

                            <div class="col-6">
                              <p class="mb-0">
                                <strong> {{ 'VERSIONS.MODEL' | translate }} </strong> {{ commonUtilsService.getModelById(model.model_id, this.models).name }}
                              </p>
                            </div>
                            <div class="col-6 text-end">
                              <p class="mb-0">
                                <strong> {{ 'VERSIONS.BEST_ADJUST' | translate }}</strong>
                                <span class="card-title text-muted text-body-emphasis">{{ model.best_adjust }}</span>
                              </p>
                            </div>
                          </div>
                          <div class="mt-2">
                            <div *ngFor="let seed of model.seeds" class="mb-1">
                              <span class="fiuba-institutional-text me-2">{{ seed.name }}</span>
                              <span class="text-muted text-body-emphasis">
            <h5 class="d-inline">
              {{ seed.value }} <small class="text-muted">± {{ seed.stderr }}</small>
            </h5>
          </span>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                          <button mat-button color="primary"
                                  (click)="navigateToVersion(investigation.investigation_id, version.version_id)">
                            <fa-icon [icon]=" faArrowUpRightFromSquare
                          " class="m-2"></fa-icon>
                            {{ 'VERSIONS.RESTORE' | translate }}
                          </button>

                          <button mat-button color="warn"
                                  (click)="deleteVersion(investigation.investigation_id ,version.version_id)">
                            <fa-icon [icon]=" faTrash
                          " class="m-2"></fa-icon>
                            {{ 'VERSIONS.DELETE_VER' | translate }}
                          </button>


                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
