<div class="card m-3 text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" >Resultados</a>
      </li>
      <li *ngFor="let model of selectedModels" class="nav-item">
        <a class="nav-link " >{{model}}</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Eleccion del mejor modelo</h5>
    <p class="card-text"></p>

    <div class="m-2">
      <app-graph></app-graph>
    </div>
    <div>
      <table class="table  table-bordered table-striped border-primary">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Estadistico 1</th>
          <th scope="col">Estadistico 2</th>
          <th scope="col">Estadistico 3</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let model of selectedModels">
          <tr>
            <th scope="row">{{model}}</th>
            <td>8,12</td>
            <td>6,32</td>
            <td>6,99</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <a href="/investigation" class="btn btn-primary">Volver a calcular</a>
  </div>
</div>
