<div class="container-fluid m-3">
  <app-data-visualizer *ngIf="this.dataSample" [data]="this.dataSample"></app-data-visualizer>
  <div class="d-flex justify-content-center">
    <button mat-raised-button class="m-3" (click)="runNonLinearModels()">
      Volver a comparar
    </button>
  </div>

  <mat-tab-group *ngIf="!runningNoLinearAdjustment" mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab selected label="Detalles de comparación">

      <div class="row justify-content-center m-3">
        <div class="card col-lg-6 col-md-8">
          <div class="card-body d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center">
              <h5
                class="card-title mb-0 flex-grow-1 text-center">Resultado de la comparación</h5>
            </div>

            <div
              [ngClass]="getBestComparisonModelOverall() !== 'Indefinido' ? 'alert alert-success' : 'alert alert-warning'">
              {{ getBestComparisonModelOverall() }}
            </div>

            <!--          Resumen del por que de la eleccion del mejor-->

            <div class="card m-3">
              <div
                class="card-body p-3 shadow-sm  align-items-center text-center">
                <h5 class="card-title mb-2">Heuristica</h5>

                <div class="row justify-content-center">

                  <div *ngFor="let result of noLinearCompareResult!.heuristic!.results" class="col-md-6 col-lg-3">

                    <div>{{ commonUtilsService.getModelById(result.model, models).name }}</div>

                    <div>Score {{ result.score }}</div>

                  </div>

                </div>


              </div>

            </div>

            <div class="card m-3">
              <div
                class="card-body p-3 shadow-sm  align-items-center text-center">
                <h5 class="card-title mb-2">Ridge</h5>

                <div class="row justify-content-center">

                  <div *ngFor="let result of noLinearCompareResult!.ridge!.results" class="col-md-6 col-lg-3">

                    <div>{{ commonUtilsService.getModelById(result.model, models).name }}</div>

                    <div>Coeficiente {{ result.coef }}</div>

                  </div>

                </div>


              </div>

            </div>

          </div>
        </div>
      </div>


      <div *ngIf="compareGraph">
        <plotly-plot [data]="compareGraph.data" [layout]="compareGraph.layout"></plotly-plot>
      </div>

      <table class="table  table-bordered table-striped border-primary">
        <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ce</th>
          <th *ngFor="let modelId of Object.keys(noLinearResults)">
            {{ commonUtilsService.getModelById(+modelId, models).name }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ceValue of dataSample?.ce; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ ceValue }}</td>
          <td *ngFor="let modelId of selectedModels">
            {{ bestTransformedValue(modelId, i) || 'N/A' }}
          </td>
        </tr>
        </tbody>
      </table>


      <div class="table-responsive">
        <table class="table table-bordered table-striped border-primary">
          <thead>
          <tr>
            <th>Statistics</th>
            <th *ngFor="let modelId of Object.keys(noLinearResults)">
              {{ commonUtilsService.getModelById(+modelId, models).name }}
            </th>
            <th>Ridge</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let statName of getStatisticsRows()">
            <td>{{ 'STATISTICS.' + statName | translate }}</td>
            <td *ngFor="let modelId of selectedModels">
              {{ bestStatisticValue(modelId, statName) || 'N/A' }}
            </td>
            <td>{{ getRidgeStatistic(statName) }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-striped border-primary">
          <thead>
          <tr>
            <th>RESIDUALS</th>
            <th *ngFor="let modelId of Object.keys(noLinearResults)">
              {{ commonUtilsService.getModelById(+modelId, models).name }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let residualName of getResidualsRows()">
            <td>{{ 'RESIDUALS.' + residualName | translate }}</td>
            <td *ngFor="let modelId of selectedModels">
              {{ parseResiduals(bestResidualValue(modelId, residualName)) || 'N/A' }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>


    </mat-tab>
    <mat-tab label="Resultados">
      <div class="row justify-content-center m-3" *ngIf="!runningNoLinearAdjustment">
        <div *ngFor="let modelId of selectedModels" class="col-6">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <div class="d-flex justify-content-between align-items-center">
                <h5
                  class="card-title mb-0 flex-grow-1 text-center">{{ commonUtilsService.getModelById(modelId, models).name }}</h5>
              </div>
              <p class="card-text mt-2"></p>
              <div class="table-responsive">

                <table class="table  table-bordered table-striped border-primary">
                  <thead class="table-dark">
                  <tr>
                    <th scope="col">Ajuste</th>
                    <th *ngFor="let param of noLinearResults[modelId].adjustments[0].parameters"
                        scope="col">{{ param.name }}
                    </th>
                    <th scope="col"> {{ 'STATISTICS.CHI_SQUARED' | translate }}</th>
                    <th scope="col"> {{ 'STATISTICS.R_SQUARED' | translate }}</th>
                    <th scope="col"> {{ 'STATISTICS.ADJUSTED_R_SQUARED' | translate }}</th>
                    <th scope="col"> {{ 'STATISTICS.ADJUSTED_CHI_SQUARED' | translate }}</th>
                    <th scope="col"> {{ 'STATISTICS.RMSE' | translate }}</th>
                    <th scope="col"> {{ 'STATISTICS.SSE' | translate }}</th>
                    <th scope="col"> {{ 'STATISTICS.HYBRID' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of noLinearResults[modelId].adjustments">
                    <th scope="row"> {{ item.adjustment_name }}</th>
                    <td *ngFor="let param of item.parameters">{{ param.value }}</td>
                    <td> {{ item.statistics.chi_squared }}</td>
                    <td> {{ item.statistics.r_squared }}</td>
                    <td> {{ item.statistics.adjust_r_squared }}</td>
                    <td> {{ item.statistics.adjust_chi_squeared }}</td>
                    <td> {{ item.statistics.RMSE }}</td>
                    <td> {{ item.statistics.SSE }}</td>
                    <td> {{ item.statistics.HYBRID }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="summaryGraph">
                <plotly-plot [data]="summaryGraph[modelId].data"
                             [layout]="summaryGraph[modelId].layout"></plotly-plot>
              </div>


              <div *ngFor="let item of noLinearResults[modelId].adjustments">
                <hr>
                <div *ngIf="item.best" class="mt-3 alert alert-success" role="alert">
                  Best model: {{ item.adjustment_name }}
                </div>
                <plotly-plot [data]="item.graph.data" [layout]="item.graph.layout"></plotly-plot>

                <div class="table-responsive">
                  <table class="table table-bordered table-striped border-primary">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th *ngFor="let param of item.parameters" scope="col">{{ param.name }}</th>
                      <th scope="col"> {{ 'STATISTICS.chi_squared' | translate }}</th>
                      <th scope="col"> {{ 'STATISTICS.r_squared' | translate }}</th>
                      <th scope="col"> {{ 'STATISTICS.adjust_r_squared' | translate }}</th>
                      <th scope="col"> {{ 'STATISTICS.adjust_chi_squeared' | translate }}</th>
                      <th scope="col"> {{ 'STATISTICS.RMSE' | translate }}</th>
                      <th scope="col"> {{ 'STATISTICS.SSE' | translate }}</th>
                      <th scope="col"> {{ 'STATISTICS.HYBRID' | translate }}</th>
                      <th scope="col"> {{ 'STATISTICS.AIC' | translate }}</th>
                      <th scope="col"> {{ 'STATISTICS.BIC' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td *ngFor="let param of item.parameters">{{ param.value }}</td>
                      <td> {{ item.statistics.chi_squared }}</td>
                      <td> {{ item.statistics.r_squared }}</td>
                      <td> {{ item.statistics.adjust_r_squared }}</td>
                      <td> {{ item.statistics.adjust_chi_squeared }}</td>
                      <td> {{ item.statistics.RMSE }}</td>
                      <td> {{ item.statistics.SSE }}</td>
                      <td> {{ item.statistics.HYBRID }}</td>
                      <td> {{ item.statistics.AIC }}</td>
                      <td> {{ item.statistics.BIC }}</td>
                    </tr>
                    </tbody>
                  </table>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>
<ng-container *ngIf="runningNoLinearAdjustment">
  <app-loading></app-loading>
</ng-container>
