<div class="container mt-5">
  <ngb-progressbar [animated]="true" [striped]="true"  class="mb-3" [value]=progressBarValue />
  <div ngbNav #nav="ngbNav" class="stepper d-flex justify-content-between nav-tabs">
    <div class="step" (click)="stepId=1">
      <div class="step-title" (click)="updateProgressBar(25)" >Set de datos</div>
    </div>
    <div class="step" (click)="stepId=2">
      <div class="step-title" (click)="updateProgressBar(50)" >Seleccionar modelos</div>
    </div>
    <div class="step" (click)="stepId=3">
      <div class="step-title" (click)="updateProgressBar(75)" >Configuracion de modelos</div>
    </div>
    <div class="step" (click)="stepId=4">
      <div class="step-title" (click)="updateProgressBar(100)" >Comparación</div>
    </div>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center">

  <div class="col-md-4 m-3">

    <div *ngIf="stepId == 1" class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Nuevo set de datos</h5>
        <p class="card-text">Arrastre aquí el archivo<br>Debe ser en formato .xlsx</p>
        <input type="file" (change)="onFileSelected($event)" accept=".xlsx" class="form-control-file">
        <button class="btn btn-primary mt-3" (click)="onUpload()">Subir archivo</button>
      </div>
    </div>

    <div *ngIf="stepId == 2" class="container-fluid d-flex justify-content-center" >
      <div *ngFor="let model of models" class="card col-md-9 m-3">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0 flex-grow-1 text-center">{{ model.name }}</h5>
            <input class="form-check-input" type="checkbox" [checked]="selectedModels.includes(model.name)" (change)="onModelSelected(model.name)">
          </div>
          <p class="card-text mt-2">{{model.description}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="stepId == 3" class="container-fluid d-flex justify-content-center">
      <ng-container *ngIf="selectedModels.length === 0">
        <div class="alert alert-warning" role="alert">
          No se han seleccionado modelos
        </div>
      </ng-container>
      <div *ngFor="let model of selectedModels" class="card col-md-9 m-3">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0 flex-grow-1 text-center">{{ model }}</h5>
          </div>
          <p class="card-text mt-2"></p>
          <div class="form-floating">
            <select [(ngModel)]="modelSelections[model]" class="form-select" aria-label="Tipo de parametros">
              <option value=1 >Parametros manuales</option>
              <option value=2 >Parametros automatizados</option>
            </select>
            <label [for]="model">Tipo de parametros</label>
          </div>
          <ng-container *ngIf="modelSelections[model] == 1;else automatedParams">
            <div *ngFor="let i of getParamsArray(model)">
              <div class="form-floating m-3">
                <input type="text" class="form-control" id="floatingParam{{i+1}}" placeholder="Parametro {{i+1}}">
                <label for="floatingParam{{i+1}}">Parametro {{i+1}}</label>
              </div>
            </div>

          </ng-container>
          <ng-template #automatedParams>
            <div class="mt-3 alert alert-success" role="alert">
              Parametros automatizados
            </div>
          </ng-template>
        </div>
      </div>
    </div>


    <div *ngIf="stepId == 4"></div>

  </div>

</div>
