<div class="row d-flex align-content-center justify-content-center">
  <div class="col-12 col-md-8">
    <div class="card mt-3 mb-3">
      <div class="card-body">
        <app-kinetics-file-upload (onDataSampleUploaded)="onUploadDataSample($event)"></app-kinetics-file-upload>
      </div>

      <div class="m-3 card">
        <div class="card-body">
          <h5 class="card-title">{{ 'KINETICS_DATA_SELECTOR.USE_PREVIOUS_SAMPLE' | translate }}</h5>
          <p class="text-muted">{{ 'KINETICS_DATA_SELECTOR.NO_DATA_SAMPLES_YET' | translate }}</p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Vista previa de la muestra cargada (tiempo / qt) -->
<div class="row justify-content-center" *ngIf="kineticsSample">
  <div class="col-12 col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        <p class="text-center mb-0">{{ kineticsSample.title }}</p>
        <p class="text-muted text-center">{{ kineticsSample.description }}</p>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'KINETICS_DATA_SELECTOR.TIME' | translate }}</th>
            <th scope="col">{{ 'KINETICS_DATA_SELECTOR.QT' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let timeValue of kineticsSample.time; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ timeValue }}</td>
            <td>{{ kineticsSample.qt[i] }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
