<ng-container *ngIf="state().selectedModels.length === 0">
  <div class="alert alert-warning" role="alert">
    {{ 'MODEL_CONFIGURATION.NOT_SELECTED_MODELS' | translate }}
  </div>
</ng-container>

<div class="container-fluid m-3">
  <div class="row justify-content-center">
    <app-data-visualizer *ngIf="this.state().investigation"
                         [data]="this.state().investigation?.sample"></app-data-visualizer>
    <div class="m-2 d-flex justify-content-end">
      <button mat-button color="primary"
              (click)="accordion().openAll()">{{ 'MODEL_COMPARE.EXPAND_ALL' | translate }}
      </button>
      <button mat-button color="primary"
              (click)="accordion().closeAll()">{{ 'MODEL_COMPARE.COLLAPSE_ALL' | translate }}
      </button>
    </div>
    <mat-accordion multi class="row justify-content-center">

      <div *ngFor="let modelId of state().selectedModels" class="col-md-12 col-xxl-6">
        <mat-expansion-panel class="card m-3" [expanded]="true">
          <mat-expansion-panel-header class="card-header fiuba-investigation mb-1">
            <h4
              class="card-title text-center">{{ commonUtilsService.getModelById(modelId, state().models).name }}
            </h4>
          </mat-expansion-panel-header>

          <div class="card-body d-flex flex-column">

            <div class="d-flex gap-2" style="display: flex; width: 100%;">

              <mat-form-field style="flex: 0 0 60%;">
                <mat-label>{{ 'MODEL_CONFIGURATION.PARAM_TYPES' | translate }}</mat-label>
                <mat-select [(value)]="modelConfiguration[modelId].automatedParams" [id]="modelId.toString()">
                  <div *ngFor="let option of seedParamOptions">
                    <mat-option [value]="option.name === SeedParamOption.AUTOMATED">
                      {{ option.value }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="flex: 0 0 20%;">
                <mat-label>{{ 'MODEL_CONFIGURATION.ITERATIONS' | translate }}</mat-label>
                <input [id]="modelId.toString()"
                       [(ngModel)]="modelConfiguration[modelId].iterations"
                       matInput type="number"
                       placeholder="{{ 'MODEL_CONFIGURATION.ITERATIONS_EXAMPLE' | translate }}">
              </mat-form-field>

              <mat-form-field style="flex: 0 0 20%;">
                <mat-label>{{ 'MODEL_CONFIGURATION.STEPS' | translate }}</mat-label>
                <input [id]="modelId.toString()"
                       [(ngModel)]="modelConfiguration[modelId].steps"
                       matInput type="number"
                       placeholder="{{ 'MODEL_CONFIGURATION.ITERATIONS_EXAMPLE' | translate }}">
              </mat-form-field>

            </div>


            <ng-container *ngIf="!modelConfiguration[modelId].automatedParams;else automatedParams">
              <div *ngFor="let param of modelConfiguration[modelId].paramValues | keyvalue" class="text-center">

                <mat-form-field class="w-100">
                  <mat-label> {{ param.key }}</mat-label>
                  <input matInput
                         [(ngModel)]="param.value.value"
                         (change)="onChange($event,modelId, param.key)"
                         id="{{param.key}}"
                         type="number"/>
                  <mat-icon matSuffix (click)="open(content); $event.stopPropagation()">info</mat-icon>
                </mat-form-field>

                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title"
                        id="modal-basic-title">{{ 'MODEL_CONFIGURATION.PARAM' | translate:param }}</h4>
                    <button (click)="modal.dismiss('Cross click')" class="btn-close"
                            type="button"></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <div class="input-group">
                        {{ modelConfiguration[modelId].paramInfo[param.key] }}
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #automatedParams>

              <div class="row"
                   *ngIf="modelConfiguration[modelId] && modelConfiguration[modelId].selectedLinearizations && modelConfiguration[modelId].selectedLinearizations.length === 0">
                <div class="col">
                  <small class="text-muted">Estimacion basada en los datos de la muestra.</small>
                  <div class="mt-auto d-flex align-content-center justify-content-center">
                    <button (click)="predictSeeds(modelId)"
                            class="btn fiuba-investigation mt-3"> {{ 'MODEL_CONFIGURATION.PREDICTED' | translate }}
                    </button>
                  </div>
                </div>
              </div>


              <div class="row"
                   *ngIf="!(modelConfiguration[modelId] && modelConfiguration[modelId].selectedLinearizations && modelConfiguration[modelId].selectedLinearizations.length === 0) && !linearizationGraphs[modelId]?.graphs?.length">
                <div class="col">
                  <small class="text-muted">{{ 'MODEL_CONFIGURATION.AVAILABLE_LINEARIZATIONS' | translate }}</small>
                  <div
                    *ngFor="let linearization of commonUtilsService.getModelById(modelId,state().models).linearizations">
                    <h6 class="text-muted">- {{ linearization.name }}</h6>
                  </div>
                  <div class="mt-auto d-flex align-content-center justify-content-center">
                    <button (click)="runLinearization(modelId)"
                            class="btn fiuba-investigation mt-3">{{ 'MODEL_CONFIGURATION.RUN_LINEARIZATION' | translate }}
                    </button>
                  </div>
                </div>
              </div>

              <div class="row m-3" *ngFor="let item of linearizationGraphs[modelId]?.graphs">

                <div class="col text-center">
                  <h5 class="text-center">
                    {{ item.linearizationName }}
                  </h5>
                  <small *ngIf="item.isBestResult"
                         class="text-center badge fiuba-institutional-bg text-white">
                    {{ 'MODEL_CONFIGURATION.BEST_LINEARIZATION' | translate }}
                  </small>
                </div>
                <plotly-plot [data]="item.graph.data" [layout]="item.graph.layout"
                             [style]="{width: '100%', minHeight: '450px'}"
                             [config]="{responsive:true, displaylogo: false, editable: true}"></plotly-plot>

                <app-fit-result [parameters]="item.parameters" [statistics]="item.statistics"/>
              </div>
            </ng-template>
          </div>
        </mat-expansion-panel>


      </div>
    </mat-accordion>
  </div>

</div>

<ng-container *ngIf="runningLinearization">
  <app-loading></app-loading>
</ng-container>
