<div class="d-flex flex-column main-body">

  <div class="container-fluid p-5  ">

    <div class="row">
      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <div class="card text-center bg-light" role="button" routerLink="/investigation">
          <div class="card-body">
            <p class="card-text font-weight-bold">Nueva Investigacion</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <div class="card text-center bg-light" role="button" routerLink="/graph">
          <div class="card-body">
            <p class="card-text font-weight-bold">Graficos</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4 d-flex justify-content-center">
        <div class="card text-center bg-light" role="button">
          <div class="card-body">
            <p class="card-text font-weight-bold">Configuracion</p>
          </div>
        </div>
      </div>

    </div>


  </div>
  <div class="mt-auto footer-color">
  </div>
</div>
