<div class="d-flex flex-column main-body h-100">

  <div class="container-fluid p-4 h-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card-container">
          <mat-card class="dashboard-card" routerLink="/investigation">
            <mat-card-content class="text-center">
              <div class="icon-container">
                <fa-icon [icon]="faFlaskVial" size="6x"></fa-icon>
              </div>
              <p class="card-text font-weight-bold mt-3">{{ 'MAIN_PAGE.NEW_INVESTIGATION' | translate }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card-container">
          <mat-card class="dashboard-card" routerLink="/historic">
            <mat-card-content class="text-center">
              <div class="icon-container">
                <fa-icon [icon]="faHistory" size="6x"></fa-icon>
              </div>
              <p class="card-text font-weight-bold mt-3">{{ 'MAIN_PAGE.HIST' | translate }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mb-4" *ngIf="isAdmin()">
        <div class="card-container">
          <mat-card class="dashboard-card" routerLink="/users">
            <mat-card-content class="text-center">
              <div class="icon-container">
                <fa-icon [icon]="faUsers" size="6x"></fa-icon>
              </div>
              <p class="card-text font-weight-bold mt-3">{{ 'MAIN_PAGE.USERS' | translate }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="footer mt-auto py-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 mb-3 mb-md-0 d-flex align-content-center">
          <div class="footer-text text-center align-content-center">
            Plataforma para el modelado y validación del equilibrio en los procesos de adsorción de contaminantes.
          </div>
        </div>
        <div class="col-md-9">
          <div class="d-flex flex-wrap justify-content-md-end justify-content-center gap-3">
            <div class="image-pair">
              <img src="assets/Adsolab-Footer_IQAI.png" class="footer-image" alt="Logo 1">
              <img src="assets/Adsolab-Footer_LaQuiSiHe.png" class="footer-image" alt="Logo 2">
            </div>
            <div class="image-pair">
              <img src="assets/Adsolab-Footer_LaQuiAm.png" class="footer-image" alt="Logo 3">
              <img src="assets/Adsolab-Footer_GIQuim.png" class="footer-image" alt="Logo 4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
