<div class="container-fluid">

  <div class="row w-75 mx-auto m-2">
    <h3 class="mt-3">
      {{ 'USERS.TITLE' | translate }}
    </h3>
    <div class="col">
      <div class="text-end">
        <button mat-button color="primary" (click)="openCreateUserDialog()">
          <mat-icon matPrefix>add</mat-icon>
          {{ 'USERS.CREATE_NEW' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="row w-75 mx-auto">
    <div class="col">
      <div class="text-center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="table-header">{{ 'USERS.ID' | translate }}</th>
            <td mat-cell *matCellDef="let user"> {{ user.id }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="table-header">{{ 'USERS.EMAIL' | translate }}</th>
            <td mat-cell *matCellDef="let user"> {{ user.email }}</td>
          </ng-container>

          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef class="table-header">{{ 'USERS.ROLE' | translate }}</th>
            <td mat-cell *matCellDef="let user"> {{ 'USERS.' + user.roles[0] | translate }}</td>
          </ng-container>

          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef class="table-header">{{ 'USERS.ACTIVE' | translate }}</th>
            <td mat-cell *matCellDef="let user"> {{ user.active ? ('TRUE' | translate) : ('FALSE' | translate) }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="table-header text-center">{{ 'USERS.ACTIONS' | translate }}
            </th>
            <td mat-cell *matCellDef="let user" class="text-center">
              <button mat-icon-button class="text-muted" matTooltip="{{ 'EDIT' | translate }}"
                      (click)="openEditUserDialog(user)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" matTooltip="{{ 'DELETE' | translate }}"
                      (click)="openDeleteUserDialog(user.id, user.email)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>

<ng-template let-data #deleteUserDialog>
  <h2 mat-dialog-title>
    {{ 'USERS.DELETE' | translate }}
  </h2>
  <mat-dialog-content class="mat-typography">
    <p>
      {{ 'USERS.DELETE_CONFIRMATION' | translate:data }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-flat-button color="warn" class="text-white" [mat-dialog-close]="true"
            (click)="deleteUser(data.userId)">
      {{ 'CONFIRM' | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>

<app-loading *ngIf="loadingUsers"></app-loading>

