.table-header {
  font-weight: bold;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
  .mat-cell, .mat-header-cell {
    padding: 8px !important;
  }

  .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .mat-icon {
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    width: 18px;
  }
}
