<div class="m-2">
  <div class="d-flex justify-content-center">
    <button mat-button color="primary" class="m-3" (click)="this.isTableVisible = !this.isTableVisible">
      {{ 'DATA_VISUALIZER.SHOW_OR_HIDE_SAMPLE' | translate }}
    </button>
  </div>

  <div *ngIf="this.isTableVisible && data">
    <div class="card">
      <div class="card-body">
        <p class="text-center">{{ data.title }}</p>
        <p class="text-muted">{{ data.description }}</p>
        <div class="row">
          <div class="col">
            <span class="fiuba-institutional-text">Adsorbato:</span>
            <span class="text-muted text-body-emphasis">
              <h5>{{ data.adsorbate }}</h5>
            </span>
          </div>
          <div class="col">
            <span class="fiuba-institutional-text">Adsorbente:</span>
            <span class="text-muted text-body-emphasis">
              <h5>{{ data.adsorbent }}</h5>
            </span>
          </div>
          <div class="col">
            <span class="fiuba-institutional-text">Temperatura:</span>
            <span class="text-muted text-body-emphasis">
              <h5>{{ data.temperature }}K</h5>
            </span>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'CE' | translate }}</th>
            <th scope="col">{{ 'QE' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ceValue of data.ce; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ ceValue }}</td>
            <td>{{ data.qe[i] }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
