.footer-color {
  height: 20%;
  background-image: url("assets/Header_Footer_Adsolab.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.adsolab {
  font-size: 50px;
  font-weight: bold;
  margin-left: 3%;
}

.main-body {
  height: 85%;
}

.main-header {
  background-color: #1976D2;
  height: 15%;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.fiuba-institutional-bg {
  background-color: #008bce !important;
  /*#0288D1*/
}

.fiuba-institutional-border {
  border-color: #008bce !important;
}

.fiuba-institutional-text {
  color: #008bce !important;
}

.fiuba-institutional {
  color: white !important;
  background-color: #008bce !important;
}

.fiuba-investigation {
  color: white !important;
  background-color: #8f3237 !important;
}

.fiuba-investigation-bg {
  background-color: #8f3237 !important;
}

.fiuba-investigation-border {
  border-color: #8f3237 !important;
}

.fiuba-investigation-text {
  color: #8f3237 !important
}

.fiuba-gray-text {
  color: #373A36 !important;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Helvetica Neue", sans-serif !important;
  margin: 0
}

html, body {
  height: 100%;
}
