<ng-container>
  <div class="main-header container-fluid d-flex justify-content-between align-items-center">
    <span class="ml-2 text-white adsolab" style="cursor: pointer" routerLink="/">AdsoLab</span>
    <div *ngIf="authService.isAuth()" class="m-5">
      <div class="text-white">
        <mat-icon>person</mat-icon>
        {{ authService.getAuthUserInfo()?.email }}
      </div>
      <button mat-button (click)="logout()" class="text-white">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </div>
    <div style="flex:1" class="mr-2 adsolab-image h-100 w-auto ">
    </div>
  </div>
</ng-container>
