.adsolab {
  font-size: 40px;
  font-weight: bold;
}

.main-header {
  background-color: #008bce;
  min-height: 10%;
  padding: 1rem 3rem;
}

.image-adsolab {
  max-height: 10vh;
  width: auto;
  max-width: 100%;
}

.sidenav-container {
  flex: 1;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-nav-list {
  flex: 1;
}

.sidenav-footer {
  padding: 16px;
  border-top: 1px solid #ccc;
  color: #008bce !important;
  font-weight: bold !important;
  text-align: center !important;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  color: #008bce !important;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
