.adsolab {
  font-size: 1.75rem;
  font-weight: bold;
}

.main-header {
  background-color: #008bce;
  min-height: 15%;
  padding: 1rem 3rem;
}

.image-adsolab {
  max-height: 10vh;
  width: auto;
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .adsolab {
    font-size: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .adsolab {
    font-size: 1.25rem;
  }
}
