<div class="navigation-container">

  <div class="main-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 mb-2 mb-sm-0 ms-0 text-center text-sm-start d-flex align-items-center">

          <button mat-icon-button (click)="snav.toggle()" class="text-white me-3" disableRipple [autofocus]="false">
            <mat-icon>menu</mat-icon>
          </button>

          <div class="text-white adsolab" style="cursor: pointer" routerLink="/">
            {{ 'ADSOLAB_TITLE' | translate }}
          </div>
        </div>

        <div class="col-md-6 col-sm-6 text-center text-md-end" *ngIf="!(isMobile$ | async)">
          <a href="https://www.fi.uba.ar/" target="_blank">
            <img class="image-adsolab" src="assets/Adsolab-Header_FIUBA-Logo.png" alt="Fiuba Logo">
          </a>
        </div>
      </div>
    </div>
  </div>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #snav
                 [mode]="(isMobile$ | async) ? 'over' : 'side'"
                 [opened]="!(isMobile$ | async)"
                 [autoFocus]="false"
                 class="app-sidenav">
      <div class="sidenav-content">
        <mat-nav-list>
          <a mat-list-item routerLink="/" routerLinkActive="active-link"
             [routerLinkActiveOptions]="{exact: true}" (click)="closeOnMobile(snav)">
            <fa-icon [icon]="faGauge" class="nav-icon"></fa-icon>
            <span>{{ 'NAV.DASHBOARD' | translate }}</span>
          </a>
          <a mat-list-item routerLink="/investigation" routerLinkActive="active-link"
             (click)="closeOnMobile(snav)">
            <fa-icon [icon]="faFlaskVial" class="nav-icon"></fa-icon>
            <span>{{ 'NAV.EQUILIBRIUM' | translate }}</span>
          </a>
          <a mat-list-item routerLink="/kinetics" routerLinkActive="active-link"
             (click)="closeOnMobile(snav)">
            <fa-icon [icon]="faClock" class="nav-icon"></fa-icon>
            <span>{{ 'NAV.KINETICS' | translate }}</span>
          </a>
          <a mat-list-item routerLink="/historic" routerLinkActive="active-link"
             (click)="closeOnMobile(snav)">
            <fa-icon [icon]="faHistory" class="nav-icon"></fa-icon>
            <span>{{ 'NAV.HISTORIC' | translate }}</span>
          </a>
          <a *ngIf="isAdmin()" mat-list-item routerLink="/users" routerLinkActive="active-link"
             (click)="closeOnMobile(snav)">
            <fa-icon [icon]="faUsers" class="nav-icon"></fa-icon>
            <span>{{ 'NAV.USERS' | translate }}</span>
          </a>
        </mat-nav-list>
        <div class="sidenav-footer" *ngIf="authService.isAuth()">
          <div>
            <mat-icon>person</mat-icon>
            {{ authService.getAuthUserInfo()?.email }}
          </div>
          <button mat-button (click)="openEditUserDialog()">
            <mat-icon>edit</mat-icon>
            {{ 'EDIT' | translate }}
          </button>
          <button mat-button color="accent" (click)="logout()">
            <mat-icon>logout</mat-icon>
            {{ 'LOGIN.LOGOUT' | translate }}
          </button>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
