<ng-container>
  <div class="main-header d-flex align-items-center">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-6 mb-2 mb-sm-0 text-center text-sm-start">
          <div class="text-white adsolab" style="cursor: pointer" routerLink="/">
            {{ 'ADSOLAB_TITLE' | translate }}
          </div>
        </div>

        <div class="col-md-6 col-sm-6 text-center text-md-end">
          <img class="image-adsolab" src="assets/logo_front.png" alt="Fiuba Logo">
        </div>
      </div>
    </div>
  </div>
</ng-container>
