<div class="container mt-5">
<app-progress-bar [stepId]="stepId" (onStepIdChange)="setStepId($event)"></app-progress-bar>
</div>

<div class="container-fluid d-flex justify-content-center">
      <div *ngIf="stepId == 1" >
      <app-data-selector (onDataSampleUploaded)="investigationCreated($event)"></app-data-selector>
    </div>

    <div *ngIf="stepId == 2"  >
      <app-model-selector [models]="models" [selectedModels]="selectedModels" (onLoadedModels)="onLoadedModels($event)" (onSelectedModels)="onModelSelected($event)"></app-model-selector>
    </div>

    <div class="container-fluid" *ngIf="stepId == 3" >
      <app-model-configuration [investigationId]="investigationId" [models]="models" [modelConfiguration]="modelConfiguration" (onSelectedConfiguration)="onSelectedConfiguration($event)"  [selectedModels]="selectedModels"></app-model-configuration>
    </div>

    <div *ngIf="stepId == 4">
      <app-model-compare [selectedModels]="selectedModels"></app-model-compare>
    </div>
</div>
