<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="col-10">
      <mat-stepper [orientation]="'horizontal'" [linear]="true" [animationDuration]="'0'"
                   (selectedIndexChange)="onStepChange($event)">
        <mat-step label="Datos" [completed]="investigation" class="d-flex">
          <div *ngIf="investigation" class="stepper-button-right">
            <button mat-fab matStepperNext class="fiuba-institutional-bg text-white">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
          <app-data-selector (onInvestigationCreated)="investigationCreated($event)"></app-data-selector>
        </mat-step>
        <mat-step label="Selección de Modelos" [completed]="selectedModels.length !== 0">
          <ng-template matStepContent>
            <div class="stepper-button-left" *ngIf="models.length !== 0">
              <button mat-fab matStepperPrevious class="fiuba-institutional-bg text-white">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <div class="stepper-button-right" *ngIf="selectedModels.length !== 0">
              <button mat-fab matStepperNext class="fiuba-institutional-bg text-white">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
            <app-model-selector [models]="models" [selectedModels]="selectedModels"
                                (onLoadedModels)="onLoadedModels($event)"
                                (onSelectedModels)="onModelSelected($event)"></app-model-selector>

          </ng-template>
        </mat-step>
        <mat-step label="Configuración de Modelos" [completed]="modelConfigurationDone">
          <ng-template matStepContent>
            <div class="stepper-button-left">
              <button mat-fab matStepperPrevious class="fiuba-institutional-bg text-white">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <div class="stepper-button-right" *ngIf="modelConfigurationDone">
              <button mat-fab matStepperNext class="fiuba-institutional-bg text-white">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
            <app-model-configuration [investigationId]="investigation?.investigation_id" [models]="models"
                                     [modelConfiguration]="modelConfiguration"
                                     (onSelectedParams)="onSelectedParams($event)"
                                     [selectedModels]="selectedModels"
                                     [dataSample]="investigation?.sample"></app-model-configuration>
          </ng-template>
        </mat-step>
        <mat-step label="Resultados">
          <ng-template matStepContent>
            <div class="stepper-button-left">
              <button mat-fab matStepperPrevious class="fiuba-institutional-bg text-white">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <app-model-compare
              [investigationId]="investigation?.investigation_id"
              [dataSample]="investigation?.sample"
              [selectedModels]="selectedModels"
              [modelConfiguration]="modelConfiguration"
              [stepId]="stepId"
              [models]="models"></app-model-compare>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>

<ng-template #loadOnGoingInvestigationModal>

  <h2 mat-dialog-title>
    {{ 'INVESTIGATION.CONTINUE_INVESTIGATION_TITLE' | translate }}
  </h2>
  <mat-dialog-content class="mat-typography">
    <p>
      {{ 'INVESTIGATION.ONGOING_INVESTIGATION_DETECTED' | translate }}
      <br>
      {{ 'INVESTIGATION.CONTINUE_INVESTIGATION_QUESTION' | translate }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close>{{ 'INVESTIGATION.CONTINUE' | translate }}</button>
    <button mat-flat-button color="primary" class="text-white" [mat-dialog-close]="true" (click)="resetInvestigation()">
      {{ 'INVESTIGATION.CREATE_NEW' | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
