.container {
  max-width: 600px;
}

.nav-pills .nav-link.active {
  background-color: #007bff;
}

.card {
  border: 1px solid #007bff;
}

.card-body {
  text-align: center;
}

.form-control-file {
  display: inline-block;
  margin-top: 10px;
}
